# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.egg-info/
.env
.venv
venv/
env/
build/
dist/
*.egg
*.manifest
*.spec

# Logs and caches
*.log
.cache/
coverage/
htmlcov/
*.cover
.pytest_cache/

# VS Code
.vscode/
*.code-workspace

# OS / editor files
.DS_Store
Thumbs.db
.idea/
*.swp

# Data artifacts
data/**/*.csv
data/**/*.html
data/**/*.tmp
